<!-- SIDEBAR -->
		<div class="four columns">
			@Html.Partial("sb_recentcomments")
			@Html.Partial("sb_labels")
			@Html.Partial("sb_categories")
			@Html.Partial("sb_mostpopular")
			@Html.Partial("sb_recentview")
			@Html.Partial("sb_related")
			@Html.Partial("sb_pageview")
			@Html.Partial("sb_pagelist")
		</div>