<!-- SIDEBAR -->
		<div class="four columns">
			@Html.Partial("~/Views/Default/sb_recentcomments.cshtml")
            @Html.Partial("~/Views/Default/sb_labels.cshtml")
            @Html.Partial("~/Views/Default/sb_categories.cshtml")
            @Html.Partial("~/Views/Default/sb_mostpopular.cshtml")
            @Html.Partial("~/Views/Default/sb_recentview.cshtml")
            @Html.Partial("~/Views/Default/sb_related.cshtml")
            @Html.Partial("~/Views/Default/sb_pageview.cshtml")
            @Html.Partial("~/Views/Default/sb_pagelist.cshtml")
		</div>