@model List<NITASA.ViewModels.CL_Comments>

    <h5>@Model.Count() Comment</h5>
    <hr>

    @foreach (var item in Model)
    {
        <div class="gravatar">
            <img src="@(!string.IsNullOrEmpty(item.ProfilePicUrl) ? item.ProfilePicUrl : "/Content/gravatar.png")" style="width:80px;height:80px;" alt="" />
        </div>
        <h5>
            @if (!string.IsNullOrEmpty(item.Website))
            {
                <a target="_blank" href="@item.Website" style="text-decoration: none; color: #222222;">
                    @(item.CommentAs != "anonymous" ? item.UserName : "Anonymous")
                </a>
            }
            else
            { 
                @(item.CommentAs != "anonymous" ? item.UserName : "Anonymous")
            }
            <a href="javascript:;" data-id="@(item.CommentID)" class="commentflag">Flag</a>
            <br />
            <span class="commentdate">
                - @NITASA.Helpers.Functions.FormatDate(item.AddedOn, "MMMM dd, yyyy on hh:mm tt")
            </span>
        </h5>
        
        <p>
            @item.Description
        </p>
        <br class="clear">
    }
