@model NITASA.ViewModels.CL_Content
@{
    string currentThemeName = ViewBag.ActiveTheme;
    Layout = currentThemeName + "master.cshtml";
}

<div id="subheader">
    <div class="row">
        <div class="eight columns">
            <p class="bread leftalign">
                @Model.Title
            </p>
        </div>
        <div class="four columns">
            @Html.Partial("~" + currentThemeName + "/search_form.cshtml")
        </div>
    </div>
</div>
<div class="hr">
</div>

@if (Model.Type == "page")
{
    @Html.Raw(Model.Description) 
}
else if(Model.Type=="post")
{
    <div class="row">
	<div class="twelve columns noleftmargin">
	     <!-- MAIN CONTENT -->
		<div class="eight columns">
	        @Html.Raw(Model.Description) 		

            @Html.Partial("~" + currentThemeName + "/commentslist.cshtml", Model.Comments)

            @if (Model.Comments.Count()==0)
            { 
                <h5>No Comments !!! be first to write comment.</h5>
            }
            
            @if (Model.PostCommentEnable && DateTime.Now < Model.PublishedOn.AddDays(Model.PostCommentEnabledTill))
            {
                if (Session["CommentBy"] == null)
                {
                    <span>Sign in to write comment. </span>
                    <div style="margin-top: 20px;">
                        <a href="@Url.Action("Index", "OpenID", new { Areas = "", signInWith = "google" })" class="pull-left">
                            <img src="https://developers.google.com/accounts/images/sign-in-with-google.png"
                                style="height: 41px; margin-top: -5px; margin-right: 20px;" alt="Sign in with Google" /></a>
                        <a href="@Url.Action("Index", "OpenID", new { Areas = "", signInWith = "yahoo" })"  class="pull-left">
                            <img src="https://s.yimg.com/zz/combo?oo/oib/y-open-id-button-1.png" style="height: 34px;"
                                alt="Sign in with Yahoo" /></a>
                    </div>
                }
                else
                { 
                    @Html.Partial("~" + currentThemeName + "/commentform.cshtml")
                }
            }
		</div>
		 <!-- SIDEBAR -->
		@Html.Partial("~" + currentThemeName + "/sidebar.cshtml")
	</div>
</div>
<div class="hr">
</div> 
    
}