@using NITASA.Helpers
@{
    var labels = Functions.GetLabels(5);
    var Categories = Functions.GetCategories(5);
}
<div id="footer">
    <footer class="row">
        <p class="back-top floatright">
            <a href="#top"><span></span></a>
        </p>
        <div class="four columns">
            <h1>Categories</h1>
            @foreach (var item in Categories)
            {
                <a href="@(string.IsNullOrEmpty(item.URL) ? "#" : "/Category/" + item.URL)" class="tags">@item.Name</a>
            }
        </div>
        <div class="four columns">
            <h1>Labels</h1>
            @foreach (var item in labels)
            {
                <a href="@(string.IsNullOrEmpty(item.URL) ? "#" : "/Label/" + item.URL)" class="tags">@item.Name</a>
            }
        </div>
        <div class="four columns">
            <h1>GET SOCIAL</h1>
            <a class="social facebook" href="@Functions.GetFacebookURL()"></a>
            <a class="social twitter" href="@Functions.GetTwitterURL()"></a>
            @*<a class="social deviantart" href="#"></a>
            <a class="social flickr" href="#"></a>
            <a class="social dribbble" href="#"></a>*@
        </div>
    </footer>
</div>
<div class="copyright">
    <div class="row">
        <div class="six columns">
            &copy;<span class="small"> Copyright &nbsp;<a target="_blank" style="text-decoration: none; color: #444" href="http://www.drcsystems.com/">Drc Systems</a></span>
        </div>
    </div>
</div>