@model string
@using NITASA.Helpers
@{
    string currentThemeName = ViewBag.ActiveTheme;
    Layout = currentThemeName + "/master.cshtml";
    ViewBag.Title = Functions.GetSiteTitle();
    List<NITASA.ViewModels.CL_Content> posts = Functions.GetHomePagePosts();
}


<!-- Begin Post -->
@foreach (var item in posts)
    {
        var lastLabel = (item.Labels != null && item.Labels.Count > 0) ? item.Labels.Last() : null;
        
<div class="art-box art-post">
    <div class="art-box-body art-post-body">
        <div class="art-post-inner art-article">
            <h2 class="art-postheader">
                <a href="/Content/@item.URL" title="Permanent Link to this Post">@item.Title</a>
            </h2>
            <div class="art-postmetadataheader">
                <div class="art-postheadericons art-metadata-icons">
                    <span class="art-postdateicon">@Html.Raw(Functions.FormatDate(item.PublishedOn, "dd - MMMM- yyyy"))</span>
                </div>
            </div>
            <div class="art-postcontent">
                @if (item.FeaturedImage != null)
                {
                    @:<img src="@item.FeaturedImage" alt="an image" id="preview-image" />
                }
                
                <p>
                    @{string Description = Functions.RemoveHTMLTags(item.Description);}
                    @(Description.Length > 556 ? Description.Substring(0, 556) + "..." : Description)
                </p>
               
            </div>
            <div class="cleared"></div>
            <div class="art-postfootericons art-metadata-icons">
                @if (item.Labels != null && item.Labels.Count > 0)
                {
                    @:<span class="art-posttagicon"> Tags:
               }
@foreach (var itemLabel in item.Labels)
                {

                    if (itemLabel == lastLabel)
                    {
                        <a href="/Label/@itemLabel.URL">@itemLabel.Name</a>
                    }
                    else
                    {
                        <a href="/Label/@itemLabel.URL">@itemLabel.Name</a> <text>, </text>
                    }

                }
@if (item.Labels != null && item.Labels.Count > 0)
                {
    @: </span>  | 
                }
               
              
                <span class="art-postcommentsicon"><a href="#" title="Comments">
                    @if(@item.CommentsCount>0)
                    {  
                        @item.CommentsCount <text>Comments</text>
    }
    else
                    {
                        <text>No Comments</text>
                    }
</a></span>
            </div>
        </div>		<div class="cleared"></div>
    </div>
</div>
}

