@using NITASA.Helpers
@{
    string currentTheme = ViewBag.ActiveTheme;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" []>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    @Html.Raw(Functions.GetMetaData(Request))
    <title>@ViewBag.Title :: @Functions.GetSiteTitle()</title>
    <link rel="stylesheet" href="@currentTheme/css/style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="@currentTheme/css/style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="@currentTheme/css/style.ie7.css" type="text/css" media="screen" /><![endif]-->
    <script type="text/javascript" src="@currentTheme/js/jquery.js"></script>
    <script type="text/javascript" src="@currentTheme/js/script.js"></script>
    @Html.Raw(Functions.GetFaviconURL())
    @Html.Raw(Functions.GetHeaderCustomCode())
    @Html.Raw(Functions.GetCustomCSS())
    @RenderSection("PageLevelStyles", false)
</head>
<body>
    <div id="art-main">
        <div class="cleared reset-box"></div>
        <div class="art-box art-sheet">
            <div class="art-box-body art-sheet-body">
               @Html.Partial("~" + currentTheme + "/header.cshtml")
                <div class="cleared reset-box"></div>
                <div class="art-layout-wrapper">
                    <div class="art-content-layout">
                        <div class="art-content-layout-row">
                            <div class="art-layout-cell art-content">
                                @RenderBody()
                                <div class="cleared"></div>
                            </div>
                            @Html.Partial("~" + currentTheme + "/sidebar.cshtml")
                        </div>
                    </div>
                </div>
                <div class="cleared"></div>

                <div class="cleared"></div>
            </div>
        </div>
       @Html.Partial("~" + currentTheme + "/footer.cshtml")
        <div class="cleared"></div>
    </div>

</body>
</html>
