@model Slider
@using NITASA.Data
@{
    ViewBag.Title = "Slider Master List";

    List<Slider> Sliders= ViewBag.Sliders;
    WebGrid grid = new WebGrid(Sliders, rowsPerPage: 10, canSort: true);
}
<style>
    tfoot td {
        line-height: 3 !important;
    }

    .custom-pagination td {
        padding-left: 10px !important;
    }

    .table-normal tbody td.col1 {
        width: 200px;
        text-align: center;
    }
</style>
<div class="main-content">
    <div class="container-fluid padded">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert" type="button">×</button>
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert" type="button">×</button>
                @TempData["ErrorMessage"]
            </div>
        }
        <div class="row-fluid">
            <div class="span4">
                <div class="box">
                    <div class="box-header">
                        <span class="title" id="lblTitle">Add New Slider</span>
                    </div>
                    <div class="box-content">
                        <div class="padded">
                            @using (Html.BeginForm("Add", "Slider", FormMethod.Post))
                            {
                                <div class="control-group">
                                    <label class="control-label" style="text-align: left;">
                                        Slider Name
                                    </label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Name, new { style = "width:90%" })
                                        <div style="color: red">
                                            @Html.ValidationMessageFor(m => m.Name)
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" style="text-align: left;"></label>
                                    <div class="controls">
                                        <input type="submit" value="Save" class="btn btn-blue" />
                                        <input type="button" value="Clear" id="ClearSlider" class="btn btn-blue" />
                                        <input type="hidden" value="" id="SMGUID" name="SMGUID" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6" style="width:65%">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Browse Slider</span>
                    </div>
                    <div class="box-content">
                        @if (Sliders.Count() > 0)
                        {
                            @grid.GetHtml(tableStyle: "table table-normal", headerStyle: "head", alternatingRowStyle: "alt",
                                firstText: "First", nextText: "Next", previousText: "Prev", lastText: "Last", footerStyle: "custom-pagination",
                                mode: WebGridPagerModes.All, columns: grid.Columns(
                                        grid.Column(columnName: "Name", header: "Slider Name", style: "col0",
                                                format: @<text>
                                            <span class="sldrName">@item.Name</span>
                                                </text>
                                        ),
                                        grid.Column(header: "Action", style: "col1", format: @<text>
                                            @Html.ActionLink("Manage", "List","Slides", new { GUID = item.GUID }, new { @class = "btn btn-small btn-blue" })
                                            @Html.ActionLink("Edit", null, null, new { id = @item.GUID, @class = "btn btn-small btn-blue edit-sldr" })
                                            @Html.ActionLink("Delete", "Delete", new { GUID = item.GUID }, new { @class = "btn btn-small btn-red", onclick = "return confirm('Are you sure to delete this Slider ?');" })
                                        </text>
                                                                 )
                                                         )
                                                     )
                        }
                        else
                        {
                            <div class="padded">No Slider Found.</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#ClearSlider").click(function () {
        $("#SMGUID").val("");
        $("#lblTitle").html('Add New Slider');
        $("#Name").val("");
    });
    $(".edit-sldr").click(function () {
        var sldrName = $(this).parent().parent().find(".sldrName").html();
        $("#Name").val(sldrName);
        $("#SMGUID").val($(this).attr("id"));
        $("#lblTitle").html('Update Slider');
        return false;
    });
</script>
