@model Label
@using NITASA.Data
@using GridMvc.Html
@{
    ViewBag.Title = "Labels";
    List<Label> LabelList = ViewBag.LabelList;
}
<div class="main-content">
    <div class="container-fluid padded">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert" type="button">×</button>
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert" type="button">×</button>
                @TempData["ErrorMessage"]
            </div>
        }
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Browse Label</span>
                        <ul class="box-toolbar">
                            <li><a data-toggle="modal" id="AddLabel" href="#modal-Label"><i class="icon-plus-sign" style="margin-top: 10px"></i></a></li>
                        </ul>
                    </div>
                    <div class="box-content">
                        @if (LabelList.Count() > 0)
                        {
                            @Html.Grid(LabelList).Columns(columns =>
                            {
                                columns.Add(x => x.Name).Titled("Label Name").Sortable(true).Filterable(true);
                                columns.Add().RenderValueAs(x =>
                                    @customcolumn(x)
                                ).Sanitized(false).Encoded(false).Titled("Actions").SetWidth(80);
                            }).WithPaging(10, 5).WithMultipleFilters()
                        }
                        else
                        {
                            <div class="padded">No Labels Found.</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@helper customcolumn(Label item)
{
    @Html.ActionLink("Edit", null, null, new { @class = "btn btn-small btn-blue edit-lbl" })
    @Html.ActionLink("Delete", "Delete", new { GUID = item.GUID }, new { @class = "btn btn-small btn-red", onclick = "return confirm('Are you sure to delete this Label ?');" })
    <input type="hidden" class="lblGUID" value="@item.GUID" />
}

<div id="modal-Label" class="modal hide fade" style="width: 500px;">
    <div class="modal-header">
        <a class="close modal_Delete_icon_link" data-dismiss="modal" href="">
            <i class="icon-remove-sign modal_close_icon_fontsize"></i>
        </a>
        <h6 id="lblLabelModalName">Add New Label</h6>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Add", "Label", FormMethod.Post))
        {
            <div class="control-group">
                <label class="control-label" style="text-align: left;">
                    Label Title
                </label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name, new { style = "width:90%" })
                    <div style="color: red">
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" style="text-align: left;">
                    Label Slug
                </label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Slug, new { style = "width:90%" })
                    <div style="color: red">
                        @Html.ValidationMessageFor(m => m.Slug)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" style="text-align: left;">
                    Label Description
                </label>
                <div class="controls">
                    @Html.TextAreaFor(m => m.Description, new { style = "width:90%" })
                    <div style="color: red">
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" style="text-align: left;"></label>
                <div class="controls">
                    <input type="submit" value="Save" id="btnAddLabel" class="btn btn-blue" />
                    <input type="hidden" value="" id="LGUID" name="LGUID" />
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $("#AddLabel").click(function () {
        $("#LGUID").val("");
        $("#lblLabelModalName").html('Add New Label');
        $("#Name").val("");
        $("#Slug").val("");
        $("#Description").val("");
        $("#btnAddLabel").val("Save");
    });
    $(".edit-lbl").click(function () {
        var guid = $(this).parent().find(".lblGUID").val();
        $.ajax({
            type: "Get",
            url: "/Admin/Label/GetLabelDetails",
            data: { GUID: guid },
            success: function (data) {
                if (data) {
                    $("#Name").val(data.Name);
                    $("#Slug").val(data.Slug);
                    $("#Description").val(data.Description);
                    $("#LGUID").val(guid);
                    $("#lblLabelModalName").html('Update Label');
                    $("#btnAddLabel").val("Update");
                    $("#modal-Label").modal('show');
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
        return false;
    });
</script>
