@using NITASA.Helpers
@{
    string currentTheme = ViewBag.ActiveTheme;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Html.Raw(Functions.GetMetaData(Request))
    <title>@ViewBag.Title :: @Functions.GetSiteName()</title>
    <link href="@currentTheme/css_pirobox/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link href="@currentTheme/css_pirobox/s3slider.css" rel="stylesheet" type="text/css" />
    <!-- JavaScripts-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    @Html.Raw(Functions.GetFaviconURL())
    @Html.Raw(Functions.GetHeaderCustomCode())
    @Html.Raw(Functions.GetCustomCSS())
    @RenderSection("PageLevelStyles", false)
</head>
<body>
    <div id="templatemo_wrapper">
        @Html.Partial("~" + currentTheme + "/navigation.cshtml")
        @Html.Partial("~" + currentTheme + "/sidebar.cshtml")
        @RenderBody()
        @Html.Partial("~" + currentTheme + "/footer.cshtml")
        <script type="text/javascript" src="@currentTheme/js/jquery.js"></script>        
        <script type="text/javascript" src="@currentTheme/js/s3Slider.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#slider').s3Slider({
                    timeOut: 1600
                });
            });
        </script>
        @RenderSection("PageLevelScripts", false)
        @Html.Raw(Functions.GetCustomJavaScript())
        @Html.Raw(Functions.GetGoogleAnalytics())
    </div> <!-- end of warpper -->
</body>
</html>