@using NITASA.Helpers
@{
    string currentTheme = ViewBag.ActiveTheme;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Raw(Functions.GetMetaData(Request))
    <title>500 - Internal Server Error :: @Functions.GetSiteName()</title>
    <link rel="stylesheet" type="text/css" href="@currentTheme/css/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="@currentTheme/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="@currentTheme/css/classic.css" media="all">
    <link rel="stylesheet" type="text/css" href="@currentTheme/css/goudy.css" media="all">
    <script src="@currentTheme/js/jquery-1.6.2.min.js"></script>
    @Html.Raw(Functions.GetFaviconURL())
    @Html.Raw(Functions.GetHeaderCustomCode())
    @Html.Raw(Functions.GetCustomCSS())
</head>
<body>
    <div id="body-wrapper">
        <div id="header">
            @Html.Partial("~" + currentTheme + "/header.cshtml")
            @Html.Partial("~" + currentTheme + "/navigation.cshtml")
            <div class="clear"></div>
        </div>
        <div id="wrapper" class="wrapper">
            <div class="blog">
                <div class="row">
                    <br />
                    <h2 style="color:red">
                        500: Internal Server Error.
                    </h2>
                    <span>
                        <i>
                            Something went Wrong!!
                        </i>
                    </span>
                </div>
            </div>
            <div class="clear"></div>
            <br /><br />
            <br />
            <br />
            <br />
            <br /><br />
            <br />
            <br />
        </div>
    </div>
    @Html.Partial("~" + currentTheme + "/footer.cshtml")
    <script src="@currentTheme/js/scripts.js"></script>
    @Html.Raw(Functions.GetCustomJavaScript())
    @Html.Raw(Functions.GetGoogleAnalytics())
</body>
</html>