@model List<NITASA.ViewModels.CL_Comments>
    <h3>@Model.Count() Responses </h3>

    <!-- Begin Comments -->
    <div id="comments">
        <ol id="singlecomments" class="commentlist">
            @foreach (var item in Model)
    {
            <li class="clearfix">
                <div class="user">
                    <img alt="" src="@(!string.IsNullOrEmpty(item.ProfilePicUrl) ? item.ProfilePicUrl : "/Content/gravatar.png")" height="60" width="60" class="avatar" />
                  
                </div>
                <div class="message">
                    <div class="info">
                        <h3>                        
                        @if (!string.IsNullOrEmpty(item.Website))
{
    <a target="_blank" href="@item.Website">
        @(item.CommentAs != "anonymous" ? item.UserName : "Anonymous")
    </a>
}
else
{
    @(item.CommentAs != "anonymous" ? item.UserName : "Anonymous")
}
                        </h3>
                        <br />
                        <span class="date" style="margin-left:0px;">@NITASA.Helpers.Functions.FormatDate(item.AddedOn, "MMMM dd, yyyy on hh:mm tt")</span> 
                    </div>
                    <p>@item.Description</p>
                </div>
                <div class="clear"></div>
                
            </li>
            }
        </ol>
    </div>
    <!-- End Comments -->
